<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sssssss</title>
    <link rel="stylesheet" href="../statics/css/Actividad12.css">
    <script src="../dynamics/js/Actividad12.js" async="false"></script>
</head>
<body>
    <form id='choose-images'>
      <h1>Elige el color de tu serpiente:</h1>
      <div>
        <input type="radio" id="img-1" name="img" checked value="1">
        <label for="img-1"><img src="../statics/media/snake1.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-2" name="img" value="2">
        <label for="img-2"><img src="../statics/media/snake2.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-3" name="img" value="3">
        <label for="img-3"><img src="../statics/media/snake3.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-4" name="img" value="4">
        <label for="img-4"><img src="../statics/media/snake4.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-5" name="img" value="5">
        <label for="img-5"><img src="../statics/media/snake5.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-6" name="img" value="6">
        <label for="img-6"><img src="../statics/media/snake6.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-7" name="img" value="7">
          <label for="img-7"><img src="../statics/media/snake7.png" class="img-form"></label>
      </div>
      <div>
        <input type="radio" id="img-8" name="img" value="8">
        <label for="img-8"><img src="../statics/media/snake8.png" class="img-form"></label>
      </div>
    </form>
  <img src="../statics/media/logo(1).png">
  <br>
  <br>
</body>
</html>