<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/Actividad11.css">
    <title></title>
  </head>
  <body id="body">
    <button id="mouseover">Mouseover y mouseout</button>
    <br>
    <br>
    <button id="soltar">Soltar el botón</button>
    <br>
    <br>
    <button id="double">Doble click</button>
    <br>
    <br>
    <button id="leave">Mouse sale del botón</button>
    <br>
    <br>
    <input type="text" id="key" value="Presiona una tecla">
    <br>
    <br>
    <input type="text" id="focus" value="Apachurrame">
    <br>
    <br>
    <div class="keydown">No me suelteees</div>
    <br>
    <br>
    <div id="move">Mueve el mouse</div>
    <br>
    <br>
    <input type="text" class="keyup" value="Suelta teclaaa">
    <br>
    <br>
    <input type="text" id="change" value="Modificame">
    <br>
    <br>
    <script type="text/javascript" src="../dynamics/js/Actividad11.js"></script>
  </body>
</html>
