body{
      width: 100%;
      height: 100vh;
    }

.table {
    border: 5px solid;
    width: 100%;
      height: 100vh;
    }

.square1{
  background-color: #CC3C00;
}

.square2{
  background-color: #42FFE3;
}